/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2015, 10:54:09 AM
    Author     : Felipe
*/

.navigation-content{
    -fx-background-color:#fff;
    -fx-text-fill:#212121;
    
}
.navigation-content .list-cell:even, .navigation-content .list-cell:odd{
    -fx-background-color:transparent;
    
}
.navigation-content .list-cell{
    -fx-padding:0;
}
.navigation-content .list-cell:filled:selected:focused{
   -fx-background-color:rgba(0,0,0,0.15);
}
.navigation-content .list-cell:filled:hover{
   -fx-background-color:rgba(0,0,0,0.06);
}

.navigation-content .list-cell:selected:focused .label{
    -fx-text-fill:#212121;
}